* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 29%, rgba(147,201,100,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(209,209,209,1)), color-stop(29%, rgba(219,219,219,1)), color-stop(100%, rgba(147,201,100,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 29%, rgba(147,201,100,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 29%, rgba(147,201,100,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 29%, rgba(147,201,100,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

#board div {
    width: 10px;
    height: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    float: left;
}

#board div.live {
    background-color: #000000;
}

#board {
    margin: 1.5rem auto;
    min-height: 100px;
    min-width: 100px
}

#game-menu {
    margin: 3rem auto;
    width: auto;
}

.game-set {
  display: flex;
  justify-content: center;

}
.button {
  width: 15%;
  height: 2rem;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background: #043008;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 10px;
}

label, input {
  display: block;
  margin: 10px auto;
  font-size: 1.5rem;
  text-align: center;
}

label {
  text-align: center;
}

#button-start {
  display: block;
  margin: 10px auto;
}
